.button {
    width: 280px;
    padding: 14px 36px;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    background-color: inherit;
    color: inherit;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}